<%- include('partials/html_header')%>
<%- include('partials/navbar') %>
<%- include('partials/html_footer')%>


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista hoteli</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4">
<div class="container">
    <h1 class="mb-4">Lista hoteli</h1>

    <% if (hotels.length === 0) { %>
        <p>Brak dostępnych hoteli.</p>
    <% } else { %>
        <div class="row">
            <% hotels.forEach(hotel => { %>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <% if (hotel.image) { %>
                            <img src="<%= hotel.image %>" class="card-img-top" alt="<%= hotel.name %>">
                        <% } %>
                        <div class="card-body">
                            <h5 class="card-title"><%= hotel.name %></h5>
                            <p class="card-text">
                                <strong>Miasto:</strong> <%= hotel.city %><br>
                                <strong>Cena:</strong> <%= hotel.price %> zł<br>
                                <strong>Opinie:</strong> <%= hotel.rating %> / 5
                            </p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
</div>
</body>
</html>
